/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.ffu-input-details {
  margin: 15px 0px !important;
}

#ffu-submit {
  margin-top: 20px !important;
  padding: 5px 10px;
}

#fileToUpload {
  margin-top: 20px !important;
}

#ffu-submit input[type='file'] {
  display: none;
  margin: 10px;
  background-color: #500731;
}
#ffu-submit input[type='file'] + label {
  display: inline-block;
  margin: 20px;
  padding: 4px 32px;
  background-color: #ffffff;
  border: solid 1px #045dac;
  border-radius: 6px;
  color: #500731;
}
#ffu-submit input[type='file']:active + label {
  background-image: none;
  background-color: #2d6c7a;
  color: #ffffff;
}
